<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Cart')}"><title>Cart</title></head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>
<h1>Cart</h1>
<button type="button" onclick="history.back()">Close</button>
<p th:if="${order == null || order.orderedItems.isEmpty()}">your cart is empty</p>
<div th:unless="${order == null || order.orderedItems.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderedItem : ${order.orderedItems}">
            <td>
                <span th:text="${orderedItem.menuItem.name}">Item name</span>
                <div class="selectedExtras" th:each="selectedExtra : ${orderedItem.selectedExtras}"
                     th:text="'+ ' + ${selectedExtra.extra.name}">+ extra-name
                </div>
            </td>
            <td th:text="${orderedItem.quantity}">item-quantity</td>
            <td class="ordered_item_price"><span
                    th:text="${#numbers.formatDecimal(orderedItem.lineTotal, 1, 2)}">0.00</span> €
            </td>
            <td>
                <form th:action="@{/cart/items/{id}/quantity(id=${orderedItem.id})}" method="post">
                    <label>
                        change quantity:<br>
                        <input type="number" name="quantity" min="1" th:value="${orderedItem.quantity}">
                    </label>
                    <input type="submit" value="Update">
                </form>
                <form th:action="@{/cart/items/{id}/remove(id=${orderedItem.id})}" method="post">
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="total_price" colspan="2">Total price:</td>
            <td><span th:text="${#numbers.formatDecimal(order.totalPrice, 1, 2)}">00.00</span> €</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>