<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Checkout')}"><title>Checkout</title></head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>
<p class="back-link"><a th:href="@{/cart}">&larr; Back to Cart</a></p>
<h1>Checkout</h1>
<table class="cart-table">
    <thead>
    <tr>
        <th>Item</th>
        <th class="item-quantity">Quantity</th>
        <th class="item-price">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderedItem : ${order.orderedItems}">
        <td>
            <span th:text="${orderedItem.menuItem.name}">Item name</span>
            <div class="extra" th:each="selectedExtra : ${orderedItem.selectedExtras}"
                 th:text="'+ ' + ${selectedExtra.extra.name}">+ extra-name
            </div>
        </td>
        <td class="item-quantity" th:text="${orderedItem.quantity}">item-quantity</td>
        <td class="item-price"><span
                th:text="${#numbers.formatDecimal(orderedItem.lineTotal, 1, 2)}">0.00</span> €
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="total-row">
        <td colspan="2">Total price:</td>
        <td class="item-price"><span
                th:text="${#numbers.formatDecimal(order.totalPrice, 1, 2)}">00.00</span> €
        </td>
    </tr>
    </tfoot>
</table>
<p class="checkout-error" th:if="${error}" th:text="${error}">error message</p>
<form th:action="@{/checkout}" method="post">
    <input class="pay-button" type="submit" value="Pay">
</form>
</body>
</html>